[submodule "geometry"]
	path = project/geometry
	url = https://github.com/StarSimVR/geometry.git
[submodule "godot_openvr_fps"]
	path = godot_openvr_fps
	url = https://github.com/GodotVR/godot_openvr_fps
[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
[submodule "ellipse"]
	path = ellipse
	url = https://github.com/StarSimVR/ellipse
