.import/
build/
addons/
logs/

*.bak

bin/
src/*.obj
src/*.d
src/*.os
# Temporary database used by SCons to keep file signatures to speed up future builds
.sconsign.dblite
# SCons debug files
vc140.idb
vc140.pdb

# Doxygen
html/
latex/
